<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@Page.Title</title>
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">

</head>
<body>
    <header>
        <h1>My Scripture Journal</h1>
    </header>

    <main>
        <h2>@Page.Title</h2>
        <div>
            @RenderBody()
        </div>
    </main>

    <footer>
        Ryan Montgomery .:|:. CIT 365 - 10
    </footer>
</body>
</html>
